body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header,
main,
footer {
  padding: 20px;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

h2 {
  color: green;
}

img {
  width: 400px;
}
header {
  background: #185531;
  color: #ffffff;
  text-align: center;
}

#competitive-analysis {
  display: flex;
  align-items: center;
}

.comp-text {
  width: 60%;
  margin-right: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #33a161;
  color: white;
}

.dev-body {
  display: flex;
  align-items: center;
}

img {
  width: 800px;
}

.dev-text {
  margin-left: 40px;
  background-color: #bbc0bd;
  border-radius: 10px;
  padding: 10px;
}

#introduction div {
  background-color: #bbc0bd;
  border-radius: 10px;
  padding: 10px;
}

.comp-text div {
  background-color: #76a58a;
  border-radius: 10px;
  padding: 10px;
}

.comp-table {
  margin-top: 50px;
}
